<% content_for  :page_title, 'About'%>
<span class="subheader">About</span>

<p>
    <strong>MemoRabble</strong> is a platform for publishing interlinked memos
    about news and current events.
</p>
<p>
    <strong>MemoRabble</strong> memos are not merely isolated posts that will get lost in a sea of data.
    Your memos can be tagged with various <strong>attributes</strong> and linked to other memos 
    through <strong>relations</strong>. 
</p>
<p>
    As these relations grow in number and complexity, we will be able to make connections, track the
    aftermath of news stories, and find common attributes between seemingly unrelated events.
</p>
<p>
    At it's heart, <strong>MemoRabble</strong> aims to be a powerful tool for crowdsourced journalism.
</p>

