<% content_for  :page_title, 'About'%>
<span class="subheader">What is this?</span>
<hr>

<p>
    <strong>MemoRabble</strong> is a platform for publishing interlinked memos.
</p>
<p>
    Memos are not merely isolated posts that will get lost in a sea of data.
    Your memos can be linked to other memos through <strong>relations</strong>. 
</p>
<p>
    There are no threads or subforums. There is no "staying on topic". 
    There are only relations between memos. Conversations are allowed to 
    grow organically and break out into any number of different paths. 
</p>

<span class="subheader">Why?</span>
<hr>

<p>
    People are always inventing creative new ways to communicate.
    I am a huge fan of Reddit, Twitter, IRC, StackOverflow, Wordpress... 
    and the seemingly infinite ways in which human communication can be 
    reinvented.
</p>
<p>
    So I stole 
    a few of their ideas, mixed in some of my own, and this is
    what came out!  
</p>
<p>
    Some of my goals:
    <ul>
        <li>Conversations should grow and connect naturally. The user should
        not have to think about "What subforum am I on? What was the topic? 
        How deeply nested is my comment? Should I even bother 'reviving' a 
        conversation after so many people have already replied?".

        <li>Conversations are really
        directed, labeled graphs: memos are nodes pointing to, or being pointed
        at by other memos.<br> 
        There are so many different ways to represent 
        this!
        Maybe we only care about conversations that have deep nesting (are, 
        literally, "deep"). Maybe we want to know which conversations are the 
        densest, or which span out the farthest...<br>
        By not enforcing a particular format or structure, there are endless
        possibilities to how this platform can be used. (Assuming
        anyone actually signs up to use it.)

        <li>Open source: MemoRabble is free, GPL, and up on 
        <%= link_to "my github", "https://github.com/CLUSTERfoo/MemoRabble" %>.
    </ul>
</p>

<span class="subheader">About Me</span>
<hr>

<p>
    I started getting interested in computers during the summer of 2012. Around
    December, I decided I wanted to learn programming for realisies 
    and do it for the rest of my life.<br>
    I'm 26 and I live in Toronto
    and <%= link_to "this is my blog", "http://clusterfoo.com" %>.
</p>

