<h1 class="subheader">What is it?</h2>

<p>Curriculous is a platform for helping self-learners achieve their 
educational goals.

<p>The internet is full of free learning resources on every subject. But it's 
hard to know where to start! 

<p>With <strong>Curriculous</strong>, users can create, share, and browse 
through syllabi on any subject imaginable. Each syllabus is a focused, guided
course that will link you to the right resources, in the right order, so you
never feel lost. 

<p>Start learning today! Here are the latest syllabi:
