<h1 class="subheader">What is this?</h1>

<p><strong>Memorabble</strong> is your platform for posting public, interlinked 
memos. 
Share breaking news stories, talk about current events. 

<p>Your memo can be tagged with various <strong>attributes</strong> and 
linked with other memos through various <strong>relations</strong>. 

