<h1 class="subheader">What is it?</h2>

<p>Curriculous is a platform for helping self-learners achieve their 
educational goals.

<p>The internet is full of free learning resources on every subject. But it's 
hard to know where to start! 

<p>Say your goal is to gain an in-depth understanding Einstein's theory of 
General Relativity, but right now you barely have a handle on elementary 
algebra. This is not an impossible task, but you're going to need a plan: 
jumping head first into a graduate-level physics lecture on YouTube 
would only lead to frustration.

<p>With <strong>Curriculous</strong>, users can create, share, and browse 
through syllabi on any subject imaginable. Each syllabus is a focused, guided
course that will link you to the right resources, in the right order, so you
never feel lost. 

<p>Start learning today! Here are the latest syllabi:
