<h2 class="subheader">Latest Memos:</h2>

<% if @memos.any? %>
    <% @memos.each do |memo| %>
        <%= render partial: "shared/memo_min", locals: { memo: memo } %>
    <% end %>
    <%= will_paginate @memos %>
<% end %>

