<% content_for :page_title, "Inbox" %>

<span class="subheader">Inbox</span>
<hr>

<% if @replies.any? %>
    <% @replies.each  do |reply| %>
        <%= render partial: "shared/memo", locals: { memo: reply, ajax: true } %>
    <% end %>
    <%= will_paginate @replies %>
<% else %>
    <p>
        Nobdy is talking to you. Say better things!
    </p>
<% end %>

<div id="memo-modal" class="reveal-modal">
    <div id="remote-memo">
    </div>
    <a class="close-reveal-modal">x</a>
</div>
<div id="reply-modal" class="reveal-modal expand">
    <a class="close-reveal-modal">x</a>
</div>
