<% content_for :page_title, "Inbox" %>

<span class="subheader">Inbox</span>
<hr>

<% if @replies.any? %>
    <% @replies.each  do |reply| %>
        <%= render partial: "shared/memo", locals: { memo: reply, ajax: false } %>
    <% end %>
    <%= will_paginate @replies %>
<% end %>

<div id="reply-modal" class="reveal-modal expand">
</div>
