<% content_for :page_title, @user.username %>

<h1 class="subheader"><%= @user.username.capitalize %></h1>

<% if @user.memos.any? %>
    <% @memos.each do |memo| %>
        <%= render partial: "shared/memo", locals: { memo: memo } %>
    <% end %>
    <%= will_paginate @memos %>
<% end %>
