<% content_for :page_title, @user.username %>

<h1 class="subheader"><%= @user.username.capitalize %></h1>

<% if @user.memos.any? %>
    <% @memos.each do |memo| %>
        <div>
            <strong>Memo:</strong> <%= memo.subject %><br>
            <strong>Posted:</strong> <%= memo.created_at %>
        </div>
    <% end %>
<% end %>
