<% content_for :page_title, @user.username %>

<span class="subheader"><%= @user.username.capitalize %></span>
<hr>

<% if @memos.any? %>
    <% @memos.each do |memo| %>
        <%= render partial: "shared/memo", locals: { memo: memo, ajax: false } %>
    <% end %>
    <%= will_paginate @memos %>
<% end %>

<div id="reply-modal" class="reveal-modal expand">
</div>
