<% content_for :page_title, @user.display_name %>

<span class="subheader"><%= @user.display_name %></span>
<hr>

<% if @memos.any? %>
    <% @memos.each do |memo| %>
        <%= render partial: "shared/memo_min", locals: { memo: memo, ajax: false } %>
    <% end %>
    <%= will_paginate @memos %>
<% end %>
