<span class="subheader">Replies to <%= parent_memo.token %>:</span>
<hr>

<% if parent_memo.child_memos.any? %>
    <% parent_memo.child_memos.each do |child| %>
        <%= render partial: "shared/memo_min", locals: { memo: child, ajax: true } %>
    <% end %>
<% end %>

<a class="close-reveal-modal">x</a>
