* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// colors


// main classes
.container {
  padding: 1em;
}
// main objects
#header-title {
  h1 {}
  p {}
}

