<% content_for :page_title, 'New memo' %>
<h2 class="subheader">New memo</h2>

<div class="row"> 
    <div class="small-6 push-3 columns">
        <%= render partial: "shared/memo_form", locals: { memo: @memo } %>
    </div>
</div>
