<% content_for :page_title, 'New memo' %>
<span class="subheader">New memo</span>

<div class="row"> 
    <div class="small-10 push-1 columns">
        <%= render partial: "shared/memo_form", locals: { memo: @memo } %>
    </div>
</div>
