$("#remote-memo").html(" <%=  escape_javascript(render partial: 'shared/memo', 
    locals: { memo: @memo, ajax: true }) %>");
$("#remote-memo .memo-title").append(" <span class='small'>(open in a new page)</span>")
$("#memo-modal").foundation('reveal', 'open');

