<% content_for :page_title, @memo.subject %>
<h1 class="subheader">Memo #<%= @memo.id %></h1>

<p>
    <strong>subject:</strong> <%= @memo.subject %>
</p>

<p>
    <strong>content:</strong> <%= @memo.content %>
</p>
