<% content_for :page_title, @memo.subject %>

<div class="memos-container">
    <div class="main-memo">
        <%= render partial: "shared/memo", locals: { memo: @memo, ajax: true } %>
    </div>
    <div id="memo-reply">
    </div>
    <div id="memo-replies">
        <span class="subheader">Replies:</span>
        <hr>
        <div id="incoming-memos">
        </div>
        <% if @memo.child_memos.any? %>
            <% @memo.child_memos.each do |child| %>
                <%= render partial: "shared/memo", locals: { memo: child, ajax: true } %>
            <% end %>
        <% else %>
            <p>No replies yet...</p>
        <% end %>
    </div>
</div>

<div id="memo-modal" class="reveal-modal">
    <div id="remote-memo">
    </div>
    <a class="close-reveal-modal">x</a>
</div>
<div id="reply-modal" class="reveal-modal expand">
</div>
