<header class="small-12 columns container">
    <div class="row">
        <hgroup class="small-12 large-6 columns" id="header-title">
            <h1>MemoRabble!</h1>
        </hgroup> 
        <div class="small-12 large-6 columns">
            <ul class="button-group round even-2">
                <li><a href="#" class="button">Login</a></li>
                <li><%= link_to "Sign up", signup_path, class: "button" %></li>
            </ul>
        </div>
    </div>
</header>

